*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.nadpis{
    border: 5px dashed red;
    margin: 10px 200px 10px 200px;
    padding: 20px;
}
.box{
    border: 5px dashed red;
    margin: 50px 200px 0px 200px;
    padding: 20px;
}

.kolecko{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100px;

}
.kolecko.hover{
background-color: orange;
}